<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<title>{{$smarty.const.HTML_TITLE_ADMIN}}</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
{{include file='admin/parts/common_head.html'}}
<link rel="stylesheet" href="{{$a->basePath()}}/resources/codemirror/lib/codemirror.css" />
<script src="{{$a->basePath()}}/resources/codemirror/lib/codemirror.js"></script>
<script src="{{$a->basePath()}}/resources/codemirror/mode/xml/xml.js"></script>
<script src="{{$a->basePath()}}/resources/codemirror/mode/javascript/javascript.js"></script>
<script src="{{$a->basePath()}}/resources/codemirror/mode/css/css.js"></script>
<script src="{{$a->basePath()}}/resources/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<!-- <script src="{{$a->basePath()}}/resources/codemirror/mode/smarty/smarty.js"></script> -->
<script src="{{$a->basePath()}}/resources/codemirror/keymap/emacs.js"></script>
<style>
.CodeMirror { border: 1px solid #ccc; }
.CodeMirror-scroll { height: 400px; }
</style>
<script language="JavaScript" type="text/javascript">
var L = {} || L;
jQuery(function($) {
    if (parseInt($('input[name="page_type"]').val(), 10) == 3) {
        $('#tpl_choice').show();
    }
    // codemirror
    L.editor = CodeMirror.fromTextArea(document.getElementById("editArea"), {
        indentUnit: 0,
        smartIndent: false,
        //keyMap: 'emacs',
        lineWrapping: true,
        mode: "text/html", 
        tabMode: "indent"
    });
});
</script>
</head>
<body class="menu_admin menu_page"><div id="body-wrapper"> <!-- Wrapper for the radial gradient background -->

{{include file='admin/parts/sidebar.html'}}

<div id="main-content"> <!-- Main Content Section with everything -->

<div class="main-content-header">
<h2>ページテンプレートの編集</h2>
</div>

{{include file='admin/parts/message_area.tpl'}}

<form method="post" action="template.html">
<input type="hidden" name="crudType" value="{{$a->crudType|escape}}" />
<input type="hidden" name="id" value="{{$a->id|escape}}" />
<input type="hidden" name="template_path" value="{{$a->template_path|escape}}" />
<input type="hidden" name="encoding" value="{{$a->encoding|escape}}" />
<input type="hidden" name="page_type" value="{{$a->page_type|escape}}" />

<div class="content-box">

<div class="content-box-header">
<h3 style="cursor: s-resize;">{{$a->page_type|label:$a->getOptions('Page','page_type')}}のテンプレート</h3>
{{if $a->page_type == 3}}
<ul class="content-box-tabs">
<li><a class="{{if ! $a->tpl}}current{{/if}}" href="template.html?id={{$a->id}}">フォームページを編集...</a></li>
<li><a class="{{if $a->tpl eq 'confirm'}}current{{/if}}" href="template.html?id={{$a->id}}&tpl=confirm">確認ページを編集...</a></li>
<li><a class="{{if $a->tpl eq 'complete'}}current{{/if}}" href="template.html?id={{$a->id}}&tpl=complete">完了ページを編集...</a></li>
</ul>
{{/if}}
<div class="clear"></div>
</div>

<div class="content-box-content"> 
<fieldset>
<p>
<label>テンプレートファイル名</label>
<span class="static">{{$a->template_path}}</span>
</p>
<div>
<textarea id="editArea" name="template" class="text-input" rows="50">{{$a->template|escape}}</textarea>
</div>
<p>
<input type="submit" name="action:doRegist" value="更新する" class="button" onclick="return confirm('テンプレートを更新します。よろしいですか？');" />
<input type="button" name="doBack" value="戻る" class="button button-back" onclick="location.href='list.html?action:doBack=true';" />
</p>
</fieldset>
</div>
</div>
</form>

<!-- #footer -->
{{include file='admin/parts/footer.html'}}

</div> <!-- End #main-content -->
</div></body>
</html>
